.player {
    width: 250px;
    display: flex;
    align-items: center;
    background-color: rgb(121, 114, 101);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    span {
        font-size: 32px;
        margin-left: 16px;
    }

    img {
        // margin: 15px;
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: orange;
}